
body{
    background-color: #F7F9FB;   
}
.courseCard{
    width:68%;
    margin: 0 10px;
    padding: 10px 10px;
    background-color: white;
    height: 140px;
    margin-bottom: 50px;
    border-radius: 3px;
    box-shadow: 0px 2px 5px rgb(148, 148, 148);
}

.Allcourses{
    margin-top:60px;
    margin-left: 14.8%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.courseSearch input{
        height:30px !important;
        width:400px !important;
        border:none;
        border-bottom: 1px solid black;
        outline: none;
        padding-left: 15px;
        font-size: medium;
}

.rating{
    display: flex;
    align-items: center;
}


.Searchform{
    display: flex;
    align-items: flex-end;
    margin-left: 15%;
    background-color: white;
    height: 45px;
    width: 60%;
    /*justify-content: space-between;
    flex-wrap: nowrap; */
    
}

.Searchform button{
     border:none;
    height: 2.6rem;
    width: 76px;
    border-radius: 2px;
    background-color:  #076FA6;
    border:0.5px solid rgba(0,0,0,0.1);
    color:white;
}

.Searchform button:hover{
    opacity: 0.8;
    cursor: pointer;
}

.filtercourse{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    margin-left: 80px;
}
.filtercourse button{
    border:none;
    height: 2.7rem;
    width: 140px;
    background-color: white;
    border-left:0.5px solid rgba(0,0,0,0.2);
    border-right:0.5px solid rgba(0,0,0,0.2);
    color: black;
    font-size: 1rem;
}

.filtercourse button:hover{
    background-color: rgba(0,0,0,0.1);
}
.filtercourse button:nth-of-type(1){
    border-right: none;
}

.cardBtn{
    border-top:0.5px solid rgba(0,0,0,0.1) ;
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
    align-items: center;
    width: 100%;
    height: 50px;
}
.cardBtn button{
    border:none;
    height: 3rem;
    margin-bottom: 0px;
    width: 180px;
    background-color: white;
    border-left:0.5px solid rgba(0,0,0,0.2);
    color: black;
    font-size: 1rem;
}
.cardBtn button:hover{
    background-color: rgba(0,0,0,0.1);
}